/* Анимируем сердце, заставим его биться */
@keyframes heartBeat {  /* Подключаем в style */
    from {  /* Начальный кадр */
        transform: scale(1); /* Масштаб сердца 100% */
    }
    50% {
        transform: scale(1.2); /* Увеличение сердца на 20% */
    }
    to {  /* Конечный кадр */
        transform: scale(1); /* Возврат в начальное состояние */
    }
}