@import 'base/variables'; /* подключили файл значения из папки база */
@import 'blocks/promo'; /* Подключили файл промо из папки blocks */
@import 'blocks/header';  /*подключили файл header который будем переиспользовать там логотип гл секция  */
@import 'blocks/advantages';
@import 'blocks/buttons'; /* Блок кнопки */
@import 'blocks/titles';
*{
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container{  /* Создали глобальный контейнер, в этот раз будем использовать флексы, а не сетку бутстрапа */
    max-width: 950px; /* Максимальная ширина нашего контейнера, где будет располагаться вся инфа сайта */
    margin: 0 auto;  /* Выравнивание по центру */
} 